/*Upload Img Slide*/
#slide ul{
    position: relative;
    margin: auto;
    height: auto;
    width:400%;
}

#imgSlide ul li{
    position: relative;
    width:44.5%;
    overflow:hidden;
    display:inline-block;
    margin:10px 20px;
}

#imgSlide ul li img{
    width:100%;
}

#slide div#slideIzq span{
    position: absolute;
    font-size: 30px;
    color: white;
    top: 40%;
    left:50px;
    text-shadow:0px 0px 10px #000;
    cursor: pointer;
}

#slide div#slideDer span{
    position: absolute;
    font-size: 30px;
    color: white;
    top: 40%;
    right:50px;
    text-shadow:0px 0px 10px #000;
    cursor: pointer;
}

#textoSlide ul li{
    float:left;
    list-style:none;
    width:30.3%;
    padding: 10px 20px;
    height:auto;
    margin:10px;
    border:2px dashed #999;
}
#imgSlide ul{
    position: relative;
    margin:20px;
    padding: 0px 10px;
    height:auto;
    border:2px dashed #999;
}

#imgSlide ul li span{
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background:white;
    z-index:1;
    color:white;
    background: red;
}


/*Upload Text Slide*/

#textoSlide{
    position:relative;
    background:white;
}

#textoSlide ul{
    position:relative;
    padding:10px;
}

#textoSlide ul li span{
    float:right;
    width:30px;
    height:30px;
    text-align:center;
    line-height: 30px;
    cursor: pointer;
    color:white;
    margin:2px;
    border-radius:5px;
}

#textoSlide ul li input{
    margin: 20px 10px;
    width:94%;
    padding:10px;
}

#textoSlide ul li textarea{
    margin: 0px 10px;
    width:94%;
    padding:10px;
}

#textoSlide ul li{
    float:left;
    list-style:none;
    padding: 10px 20px;
    height:auto;
    margin:10px;
    border:2px dashed #999;
}